@use "../abstracts" as *;

.nav {
  --flex-column-gap: #{$navigation-gap};
  list-style: none;

  a {
    @include heading($navigation-font-size, $navigation-color);
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}
